.container_cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.cadastro{
    background-color: #ffffff;
    color: black;
    margin: 2% 2% 2% 45%;
    padding: 2%;
    border-radius: 6px;
}

.cadastro__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form__titulo{
    padding-top: 1%;
}

.form__campos{
    padding-top: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.form__campos label{
    padding-top: 1rem;
    padding-left: 0.3rem;
    text-align: left;
}

.form__campos  input{
    border-radius: 4px;
    height: 2em;
    width: 100%;
    height: 25px;
    border: 2px solid var(--formulario-borda);
    border-radius: 6px;
    margin-bottom: 0.4em;
}

.botao__cadastrar{
    justify-content: space-between;
    text-decoration: none; 
    width: 85px;
    height: 40px;
    background-color: #BB2020;
    border: none;
    border-radius: 6%;
    color: white;
    font-weight: 700;    
}

.botao__cadastrar:hover{
    cursor: pointer;
    text-decoration: none;
}

/*
.campo__label-email{}
.campo__label-senha{}
.login__form-link{}
.login__form-botao{}

}
*/