.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 69.17vh; */
}

.login{
    background-color: #ffffff;
    color: black;
    margin: 2%;
    padding: 2%;
    border-radius: 6px;
    width: 40%;
}

.login__titulo{
    padding-top: 3%;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}

.login__form-campo{
    padding-top: 3%;
}


.login__botoes {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.campo__input-senha{
    margin-top: 10px;
    width: 16rem;
}

.campo__input-email{
    width: 16rem;
}

.botao__cadastrar_login {
    justify-content: space-between;
    text-decoration: none; 
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 6%;
    color: #BB2020;
    font-weight: 400;    
    cursor: pointer; 
}

.botao__cadastrar:hover{
    cursor: pointer;
}

.botao__cadastrar_login a {
    text-decoration: none;
}

.botao__enviar{
    justify-content: space-between;
    text-decoration: none; 
    width: 80px;
    height: 40px;
    background-color: #BB2020;
    border-radius: 6%;
    border: none;
    color: white;
    font-weight: 700;    
    cursor: pointer; 
}

.botao__enviar:hover{
    cursor: pointer;
}

.link__recuperarSenha{
    color: black;
}

.link__recuperarSenha:hover{
    color: rgb(184, 15, 38);
}


/*
.campo__label-email{}
.campo__label-senha{}
.login__form-link{}
.login__form-botao{}

}
*/