.contato__botoes {
    width: 30%;
    display: flex;
    justify-content: center;
}



.contato__botao {
    width: 35%;
    height: 40px;
    background-color: #BB2020;
    border-radius: 6%;
    border: none;
    color: white;
    font-weight: 500;    
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
   .contato__botoes {
       width: 60%;
   }
}


@media screen and (max-width: 550px) {
    .contato__botoes {
        width: 90%;
    }

    .contato__botao {
        width: 48%;
    }

}